<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Bill_Software_system</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BuilidingSystem</display-name>
    <servlet-name>BuilidingSystem</servlet-name>
    <servlet-class>BuilidingSystem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuilidingSystem</servlet-name>
    <url-pattern>/BuilidingSystem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClearProductsServlet</display-name>
    <servlet-name>ClearProductsServlet</servlet-name>
    <servlet-class>ClearProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClearProductsServlet</servlet-name>
    <url-pattern>/ClearProductsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrintBillServlet</display-name>
    <servlet-name>PrintBillServlet</servlet-name>
    <servlet-class>PrintBillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrintBillServlet</servlet-name>
    <url-pattern>/PrintBillServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProdcutServlet</display-name>
    <servlet-name>AddProdcutServlet</servlet-name>
    <servlet-class>AddProdcutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProdcutServlet</servlet-name>
    <url-pattern>/AddProdcutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductServlet</display-name>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/AddProductServlet</url-pattern>
  </servlet-mapping>
</web-app>